body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  direction: rtl;
}

.top-bar {
  background-color: #89CFF0;
color:white;
  text-align: center;
  padding: 5px 0;
  font-weight: bold;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #f2f2f2;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navbar a {
  text-decoration: none;
  color: #89CFF0;
  font-weight: bold;
}

.actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.actions input {
  padding: 5px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

